.Home {
    text-align: center;
}

.text {
    overflow-wrap: anywhere;
    text-align: start;
}

a {
    text-decoration: none;
}

h2 {
    margin: 20px;
    font-size: 1.2em;
}

p {
    margin: 20px;
    margin-top: 0px;
    font-size: 1em;
}

img {
    margin: 10px
}

.logo {
    height: 50px;
    width: 200px;
    margin: 10px;
}

.Home-header {
    background-color: #db315c;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
}

.Home-Form {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.Home-Form-Title {
    display: flex;
    justify-content: space-between;
}

.Home-Post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header-Button {
    color: white;
}

.Home-Paper {
    width: 360px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Form-Paper {
    width: 360px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.Home-Form-Data {
    margin: 10px;
}

.One-Post {
    width: 370px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    /*Start of Tablet part*/
    .Home-header {
        flex-direction: column;
    }
    .Home-Paper {
        width: 300px;
    }
    .Form-Paper {
        width: 300px;
    }
    .Form-textfield {
        width: 275px;
    }
    .One-Post {
        width: 300px;
        margin: 20px;
    }
}